@model IEnumerable<JewelryGolden.Models.ProductCategory>

<nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
        @foreach (var category in Model)
        {
            <a href="@Url.Action("Index", "Products", new { categoryId = category.ID })"
               class="nav-item nav-link @(ViewBag.CurrentCategoryId == category.ID ? "active" : "")">
                @category.Name
            </a>
        }
    </div>
</nav>